.container{
    width: 87%;
    margin: auto;
}


table {
    width: 100%;
}

mat-form-field{
    width: 100%;
    font-size: 1rem;
}

h1{
    width: 100%;
    text-align: center;
   /* margin-bottom: 2rem;*/
}

.edit{
    color:rgb(7, 136, 211)
}

.delete{
    margin-left: 1rem;
    color:rgb(243, 119, 110)
}